// ==========================================================================
// #Layouts - mostly used on all pages
// ==========================================================================
//
//	Table of content
//
//	- Container
//	- Text and floats manipulation
//	- Section
//	- Main Headings



// #Layouts: Containers
// ==========================================================================

	.wrap {
		@include container;
		@include susy-clearfix;
		padding: 0 15px;
		@include media-query(x-large) {
			padding: 0;
		}
	}

	.container--small {

	}

	.container--wide {
		
	}

	.container--full-width {

	}



// #Layouts: Text and floats manipulation 
// ==========================================================================

	.float-left {
		float: left;
	}

	.float-right {
		float: right;
	}

	.text-center {
		text-align: center;
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}



// #Layouts: Section
// ==========================================================================
	%section {
		@include susy-clearfix;
	}
	.section {
		padding: 40px 0;
		@extend %section;
		@include media-query(medium) {
			padding: 65px 0;
		}
		@include media-query(large) {
			padding: 90px 0;
		}

		&--med {
			padding: 30px 0;
			@extend %section;
			@include media-query(medium) {
				padding: 50px 0;
			}
			@include media-query(large) {
				padding: 70px 0;
			}
		}

		&--small {
			padding: 15px 0;
			@extend %section;
			@include media-query(medium) {
				padding: 25px 0;
			}
			@include media-query(large) {
				padding: 40px 0;
			}
		}
	}



// #Layouts: Main Headings
// ==========================================================================

.section-header-heading {
	border-bottom: 1px solid #ebebeb;
    font-size: 2.25em;
    margin: 0 0 14px;
    padding: 0 0 10px;
}

.section-heading {
	@include susy-clearfix;
	@include span(full);
	&--primary {
		@extend .section-header-heading;
		color: $brand-color;
	}
	&--secondary {
		@extend .section-header-heading;
		color: $color-secondary;
	}

}

.section-heading--inner {
	@include susy-clearfix;
	&--primary {
		@extend .section-header-heading;
		color: $brand-color;
	}
	&--secondary {
		@extend .section-header-heading;
		color: $color-secondary;
	}
}

.img-overlay {
	overflow: hidden;
}

.img-cover {
	background: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.anchor--inverse-hover {
	color: $color-secondary;
	&:hover {
		color: $color-primary;
	}
}