// ==========================================================================
// #Header
// ==========================================================================

$info-inner-paddings : 10px;
$site-header-head-paddings : .5em;

.site-header {
    box-shadow: 0 -2px 8px 0 rgba(0,0,0,.6);
	width: 100%;
    @include fixed(top 0);
	z-index: 9999;
	@include susy-clearfix;
	@include media-query(large) {
		position: inherit;
		background-color: white;
		width: inherit;
		box-shadow: inherit;
		top: inherit;
	}
	// Info
	&__top-info {
		@include susy-clearfix;
		display: none;
		line-height: 5.5em;
		@include media-query(large) {
			display: block;
		}
		border-bottom: 1px solid #ebebeb;
		&--outer {
		    @include container;
		    @include susy-clearfix;
		}

		&--inner {
			@include span(12);
		}

		//Social Icons

		&--social-icons {
			float: left;
		}

		&--search-form {
			float: right;
		}

	}// top-ifno

	&__social-icons {
	    margin: 15px 0;	
		&--item {
			display: inline-block;
			padding-right: 20px
		}
	}

	//Main Section
	&__main-section {
		@include container;
		@include susy-clearfix;
		&--inner {
			
		}
	}

	&__head {
		@include susy-clearfix;
		z-index: 9999;
		position: relative;
		@include span(12);
		background-color: $white;
		line-height: 1.5em;
		padding: $site-header-head-paddings 15px $site-header-head-paddings 15px;
		@include media-query(large) {
			padding-right: 0;
			padding-left: 0;
		}
		@include media-query(large) {
			text-align: center; 
			margin: 75px 0;	
		}
	}

	&__logo-wrapper {
		float: left;
		@include media-query(large) {
			float: none;
		}
	}
	&__logo {
		font-size: 2em;
		font-weight: bold;
	    color: #606060;   
	}

	//Hamburger (unhealthy)
	&__hamburger {
		position: relative;
		border: 0;
	    background: none;
	    float: right;
		@include box(30px);		
		&--bar {
			&,		
			&:before,
			&:after {
				@include absolute(left);
				
			    width: 100%;
			    height: 3px;
			    margin-top: -1px;

			    transition: background 300ms 0s ease,transform 300ms 0s ease, top 300ms .2s ease, bottom 300ms .2s ease;

			    border-radius: 3px;
			    background-color: #606060;
			}
			&:before,
			&:after {
			    content: " ";
			}
			&:before {
			    top: -8px;
			}
			&:after {
				bottom: -9px;
			}
		}// bar

		&.is-active .site-header__hamburger--bar {
			& {
				background:rgba(255, 8, 8, 0);
			}
			&:before,
			&:after {
			    transition: background 300ms 0s ease,transform 300ms 0.2s ease, top 300ms 0s ease, bottom 300ms 0s ease;
			}
			&:before {
				top: 0;
				@include transform(rotate(45deg));
			}
			&:after {
				bottom: 0;
			    @include transform(rotate(-45deg));
			}
		}

		@include media-query(large) {
			display: none;
		}
	}

}