// ==========================================================================
// #Buttons
// ==========================================================================

.btn {
    font-family: $primary-font;
    font-size: $font-size-base;
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
    text-align: center;
    line-height: $btn-line-height;
    
    color: $white;
    background-color: $btn-defautl-bg;
   
    transition: $btn-transition;
    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: lighten($btn-defautl-bg, 8%);
    }
}

.btn--full {
    width: 100%;
}

// Button Sizes
.btn--sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm);
}

.btn--lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $line-height-lg);
}


//Button Colors
.btn--primary {
    @extend .btn;
    @include button-colors($btn-primary-color, $btn-primary-bg);

    &:hover,
    &:active,
    &:focus {
        background-color: lighten($btn-primary-bg, 8%);
    }
}

.btn--fire {
    @extend .btn;
    @include button-colors($btn-fire-color, $btn-fire-bg);

    &:hover,
    &:active,
    &:focus {
        background-color: lighten($btn-fire-bg, 8%);
    }
}

.btn--water {
    @extend .btn;
    @include button-colors($btn-water-color, $btn-water-bg);

    &:hover,
    &:active,
    &:focus {
        background-color: lighten($btn-water-bg, 8%);
    }
}


.btn--top-search {

    @extend .btn;
    @include button-colors($btn-top-search-color, $btn-top-search-bg);

    &:hover,
    &:active,
    &:focus {
        background-color: lighten($btn-top-search-bg, 3%);
    }
}