// ==========================================================================
// #Forms
// ==========================================================================

.form {
	font-size: $font-size-base;
	line-height: $input-height;
	padding: $input-padding-y $input-padding-x;
	transition: $input-transition;
	width: 100%;
	background: $alabaster;
	border-width: $input-border-width;
	//outline: 2px solid #f7f7f7; // add this if the border-width is set to 0
	border: 1px solid $alabaster; //set this for the same size of the butter if you remove border-width: 2px;
}

.form {
	// Displays full width of the collumn or view
	&--group {
		width: 100%;
    	display: table;
	}

	&--group-input {
		display: table-cell;
	}

	//Displays Normally
	&--auto-inline {
		width: auto;
	}
 
	//From size

	&--md {
		padding: $input-padding-y-md $input-padding-x-md;
		line-height: $input-line-height-md;
	}

	&--lg {
		padding: $input-padding-y-lg $input-padding-x-lg;
		line-height: $input-line-height-lg;
	}
}
