// ==========================================================================
// #Forms
// ==========================================================================


.form {
	line-height: $input-height;
	padding: $input-padding-y $input-padding-x;
	font-size: $font-size-base;
}