// ==========================================================================
// #Recipte Excerpt
// ==========================================================================

.recipte {

	@include span(12);
    margin-bottom: 30px;
 
	@include media-query(medium) {
		@include span(6);
	    margin-bottom: 40px;
	    &:nth-child(2n) {
	    	@include last;
	    }
	}
	@include media-query(large) {
		@include span(4);
	    margin-bottom: 50px;
		&:nth-child(3n) {
    		@include span(last 4);
    	}
	}
 
	&__info {
		color: #333333;
		border-top: 1px solid #8a8a8a;
	    border-bottom: 1px solid #ccc;
	    padding: 3px 4px;
	    text-align: center;
	    margin: 3px 0;
		&--item {
			display: inline-block;
    		padding: 0 10px;
		}
	}

}

.recipte-excerpt {

	@include span(12);

	@include media-query(medium) {
		@include span(6);
	}

	@include media-query(large) {
		@include span(3);
	}

	&--inner {
		cursor: pointer;
		@include transition(.25s ease-in-out);
		&:hover .recipte-excerpt__body {
			a {
				color: $color-secondary;
			}
		}
		&:hover .recipte-excerpt__img {
			@include transform(scale(1.3));
    		opacity: .8;
		}
	}

	&__img-wrap {
		height: 163px;
	}

	&__img {
		@include transition(.25s ease-in-out);
	}

	&__header {
		@include transition(.25s ease-in-out);
		text-align: center;
	}

	&__title {
		margin: 3px 0;
	}

	&__desc {
		color: grey;
		margin-bottom: 10px;
	}

	

}

