// ==========================================================================
// #Colors
// ==========================================================================

//Define colors; be descriptive - use this http://chir.ag/projects/name-that-color/
$cancan				: #DD97A9;
$grannysmithapple 	: #A4DD97;
$morningglory 		: #97D7DD;
$lightwisteria 		: #CB97DD;
$shocking			: #DD97C0;
$white 				: #FFF;
$tundora			: #444;
$brightturquoise    : #2FE6F9;
$pomegranate		: #F92F38;
$grey				: #bbbbbb;
//Assign those colors

$brand-color		: $cancan !default;
$color-primary		: $grannysmithapple !default;
$color-secondary	: $morningglory !default;
$color-teritary		: $lightwisteria !default;

$color-text 		: $tundora;
