// ==========================================================================
// #Settings
// ==========================================================================
//
//	Table of Contents:
//
//	- Fonts
//	- Typography
//	- Global Settings
//	- Navigation
//	- Button
//	- Forms



// #Settings: Fonts
// ==========================================================================

	$primary-font:					Arial;
	$secondary-font:				sans-serif;

	$font-size-base:				1rem !default;
	$font-size-sm:					.875rem !default;
	$font-size-lg:					1.25rem !default;
	$font-size-xs:					.75rem !default;

	$line-height-base:				1.5rem !default;
	$line-height-sm:				1.5em !default;
	$line-height-lg:				1.5em !default;

	$color-text:					$tundora;



// #Settings: Typography
// ==========================================================================
	
	//	t1 - largest font-size
	//	t2 - second largest font-size.
	//	t3 - third largest font-size.	(good for page title)
	//	s1 - first font-size smaller that base font-size.	(food for article title)
	//	s2 - second font-size smaller that base font-size.	(good for article headings2)

	$type-scale: (
		tiny: (
			font-size: 13px,
			base-lines: 0.5
		),
		small: (
			font-size: 16px,
			base-lines: 0.75
		),
		base: (
			font-size: $font-size-base,
			base-lines: $line-height-base
		),
		medium: (
			font-size: 25px,
			base-lines: 1
		),
		large: (
			font-size: 31px,
			base-lines: 1
		),
		xlarge: (
			font-size: 39px,
			base-lines: 1.5
		),
		xxlarge: (
			font-size: 49px,
			base-lines: 2 
		)
	);



// #Settings: Global Settings
// ==========================================================================

	$base-font-family:				$primary-font;
	$base-font-size:				$font-size-base;
	$base-line-height:				$line-height-base;
	$base-text-color:				$color-text;
	$base-background-color:			$white;
	$base-body-antialiased:			true;

	$link-color:					$brand-color !default;
	$link-decoration:				none;
	$link-hover-color:				$color-secondary;
	$link-hover-decoration:			none;



// #Settings: Navigation
// ==========================================================================

	//Mobile
	$nav-active-mobile:				$givry;
	
	//Desktop
	$nav-link-color-desktop:		$scorpion;
	$nav-active-desktop:			$color-secondary;



// #Settings: Button
// ==========================================================================

	//Button Default
	$btn-primary-color:             $white !default;
	$btn-primary-bg:                $brand-color !default;
	$btn-primary-border-color:      $btn-primary-bg !default;
	 
	// Buttons Paddings
	$btn-padding-y: 				.5rem !default;
	$btn-padding-x:  				1rem !default;
	$btn-line-height:  				1.25 !default;
	$btn-defautl-bg:				$grey;

	$btn-padding-y-sm:		 		.25rem !default;
	$btn-padding-x-sm:		 		.5rem !default;
	$btn-line-height-sm:	 		1.5 !default;

	$btn-padding-y-md:		 		.75rem !default;
	$btn-padding-x-md:		 		1.5rem !default;
	$btn-line-height-md:	 		1.25 !default;

	$btn-padding-y-lg:		 		1.5rem !default;
	$btn-padding-x-lg:		 		2rem !default; 
	$btn-line-height-lg:	 		1.5 !default;

	$btn-transition:		 		all .2s ease-in-out !default;

	//Buttons Colors
	$btn-primary-color:		 		$white !default;
	$btn-primary-bg:		 		$brand-color !default;

	$btn-water-color:		 		$white !default;
	$btn-water-bg:			 		$brightturquoise;

	$btn-fire-color:		 		$white !default;
	$btn-fire-bg:			 		$pomegranate;

	$btn-top-search-color:			#6d6d6d;
	$btn-top-search-bg:				darken($alabaster, 5%);



// #Settings: Forms 
// ==========================================================================


	//Default
	$input-height:                 	(($font-size-base * $btn-line-height) + ($btn-padding-y / 2)) !default;
	$input-padding-y:				($btn-padding-y / 2);
	$input-padding-x:				($btn-padding-x / 2);

	$input-padding-y-lg:			($btn-padding-y-lg / 2);
	$input-padding-x-lg:			($btn-padding-x-lg / 2);
	$input-line-height-lg:			$btn-line-height-lg;

	$input-transition: 				$btn-transition;

	//Colors
	$input-background: 				#F7F7F7;
	$input-border-width:			0;



