.modal-overlay {
    display: block;
    z-index: 10;
    @include fixed(top 0 left 0);

    @include box(100%);
    @include transition(1s ease-in-out);

    background: rgba(0,0,0,.6);
}

.modal__box {
    height: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    z-index: 5000;
}

.modal__inner {
    background: white;
    border: 2px solid #fff;
    padding: 30px 40px 35px 40px;
    text-align: left;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
}

.modal__content {

}

.modal__closeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    cursor: pointer !important;
    z-index: 9999;
    line-height: 31px;
    background: $color-primary;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.modal__closeButton:hover {
    background: lighten($color-primary, 8%);
}